<div class="breadcrumbs">
  <%= link_to "Pending Requests", pending_requests_path %>
</div><!-- .breadcrumbs -->

<% if @requests.count > 0 %>
  <ul class="action-list">
  <% @requests.each do |request| %>
    <li><%= link_to pending_request_display(request), edit_pending_request_path(request) %></li>
  <% end %>
  </ul><!-- .action-list -->
<% else %>
  <p>No pending requests, hooray!</p>
<% end %>
