//========================================================================
// transferur.css.scss
//========================================================================

@import "compass";
@import "compass/reset";
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");

// Config
//------------------------------------------------------------------------
$font-family-primary: "Lato", Helvetica, Arial, sans-serif;
$font-size-base:      10px;
$line-height:         1.4;
$color-lake-blue:     lighten(#122c46, 10%);
$color-leaf-green:    darken(#bdd570, 10%);
$color-spider-red:    #8e2618;
$color-spirit-gold:   darken(#f0eb86, 35%);

// General
//------------------------------------------------------------------------
body {
  background-image: image-url("ur_shield.png");
  background-position: center 25px;
  background-repeat: no-repeat;
  background-color: darken(white, 5%);
  line-height: $line-height;
  font-family: $font-family-primary;
  font-weight: 300;
  font-size: $font-size-base;
  margin: 100px 50px 150px 50px;
}
.wrapper {
  @include border-radius(3px);
  @include box-shadow(0 0 5px darken(white, 15%));
  background: white;
  width: 700px;
  margin: 0 auto;
}

// Flash Messages
//------------------------------------------------------------------------
.flash {
  @include border-radius(3px);
  color: white;
  margin-bottom: 25px;
  padding: 25px;

  &.success, &.notice {
    background: $color-leaf-green;
    border: 1px solid darken($color-leaf-green, 5%);
  }
  &.pending {
    background: $color-spirit-gold;
    border: 1px solid darken($color-spirit-gold, 5%);
  }
  &.error, &.alert {
    background: $color-spider-red;
    border: 1px solid darken($color-spider-red, 5%);
  }
  ul {
    list-style: square;
    padding-left: 25px;
  }
}

// Admin Nav
//------------------------------------------------------------------------
.admin-nav {
  background: lighten($color-lake-blue, 10%);
  font-size: 0;
  margin-top: -3px;

  ul {
    text-align: center;
  }
  li {
    @include inline-block;
  }
  a {
    @include transition(0.1s ease-in-out);
    text-decoration: none;
    font-size: 1rem;
    color: lighten($color-lake-blue, 50%);
    display: block;
    padding: 12px 15px;

    &:hover {
      background: lighten($color-lake-blue, 5%);
      color: white;
    }
  }
}

// Fold Elements
//------------------------------------------------------------------------
.title {
  @include border-radius(3px);
  background: $color-lake-blue;
  text-align: center;
  font-weight: 300;
  font-size: 3.3em;
  color: lighten($color-lake-blue, 55%);
  position: relative;
  z-index: 5;
  padding: 25px;
}
.main {
  font-size: 1.6em;
  position: relative;
  padding: 25px 50px 50px 50px;
}
.notices {
  @include border-radius(3px);
  background: darken(white, 2%);
  list-style: square;
  color: darken(white, 45%);
  padding: 25px 25px 25px 50px;
  border: 1px solid darken(white, 7%);
}

// Devise Errors
//------------------------------------------------------------------------
#error_explanation {
  @extend .notices;
  background: $color-spider-red;
  color: white;
  border: 1px solid darken($color-spider-red, 5%);

  ul {
    list-style: square;
  }
}
.field_with_errors {
  display: inline;

  label {
    color: $color-spider-red;
  }
  input {
    @include box-shadow(0 0 3px $color-spider-red);
  }
}

// Independent Components
//------------------------------------------------------------------------
p {
  margin-top: 25px;
}
h2 {
  font-size: 1.6em;
  margin-top: 25px;
}
.action-button {
  @include inline-block;
  @include transition(0.1s ease-in-out);
  @include border-radius(3px);
  background: darken($color-leaf-green, 8%);
  text-decoration: none;
  color: white;
  padding: 13px 15px;

  &:hover {
    background: darken($color-leaf-green, 13%);
  }
  &.warning {
    background: lighten($color-spider-red, 15%);

    &:hover {
      background: lighten($color-spider-red, 10%);
    }
  }
}
.breadcrumbs {
  @include border-radius(3px);
  @include box-sizing(border-box);
  background: darken(white, 3%);
  font-size: 0.8em;
  padding: 10px 15px;
  border: 1px solid darken(white, 7%);
}
.data-list {
  padding: 15px 25px;

  li {
    padding: 4px 0;
    border-top: 1px solid darken(white, 8%);

    &:first-child {
      border-top: none;
    }
  }
  span {
    @include inline-block;
    min-width: 140px;

    &.key {
      text-align: right;
      padding-right: 15px;
    }
  }
}

// Schools & Courses
//------------------------------------------------------------------------
.schools, .courses, .transfer-requests, .pending-requests {
  @include border-radius(3px);
  margin-top: 25px;
  border: 1px solid darken(white, 7%);
  overflow: hidden;

  li {
    @include clearfix;

    &:nth-child(2n) {
      background: darken(white, 2%);
    }
    &:hover {
      background: darken(white, 5%);

      span {
        display: block;

        a {
          @include transition(0.1s ease-in-out);
          background: lighten($color-spider-red, 15%);
          color: white;

          &:hover {
            background: lighten($color-spider-red, 5%);
          }
        }
      }
    }
  }
  a {
    @include box-sizing(border-box);
    text-decoration: none;
    color: $color-lake-blue;
    float: left;
    display: block;
    width: 85%;
    padding: 10px 15px;

    &.action-button {
      @include border-radius(0px);
      color: white;
      width: 100%;
    }
  }
  span {
    float: right;
    display: none;
    width: 15%;

    a {
      text-align: center;
      float: none;
      width: auto;
      padding: 10px;
    }
  }
}

// Form Elements
//------------------------------------------------------------------------
form {
  margin-top: 25px;

  &.approve-request, &.disapprove-request {
    margin-top: 0;
  }
  .subcontrols {
    margin-top: 35px;
    padding: 25px 8%;
    border-top: 1px solid darken(white, 8%);

    .separator {
      position: static;
      margin-top: 0;

      .action-button {
        font-size: 0.6em;
        margin-top: -5px;
        margin-left: 15px;
        padding: 5px 8px;
      }
    }
  }
  .form-controls {
    text-align: center;
    margin-top: 25px;

    *, input[type="submit"] {
      @include inline-block;
      margin-top: 0;
    }
  }
  .separator {
    font-size: 1.4em;
    color: darken(white, 45%);
    width: 120%;
    position: relative;
    left: -75px;
    margin-top: 50px;

    span {
      @include border-radius(9999px);
      @include inline-block;
      background: $color-spider-red;
      line-height: 1.8;
      text-align: center;
      font-size: 1.2em;
      color: white;
      width: 50px;
      height: 50px;
      margin-right: 25px;
    }
  }
  div {
    margin: 7px 0;

    &.other-school, &.other-course {
      display: none;
    }
    &.transfer-course-select {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid darken(white, 10%);
    }
  }
  label {
    @include inline-block;
    text-align: right;
    min-width: 125px;
    margin-top: -4px;
    padding-right: 15px;
  }
  input {
    @include transition(0.2s ease-in-out);
    @include border-radius(3px);
    @include box-shadow(0 0 3px lighten(black, 45%));
    background: white;
    font-family: inherit;
    font-size: inherit;
    min-width: 300px;
    padding: 5px;
    border: none;

    &:focus {
      @include box-shadow(0 0 6px lighten($color-lake-blue, 15%));
      outline: none;
    }
  }
  input[type="checkbox"] {
    @include box-shadow(none);
  }
  select {
    font-family: inherit;
    font-size: inherit;
    max-width: 400px;
  }
  option {
    font-family: inherit;
    font-size: inherit;
  }
  input[type="submit"] {
    @include box-shadow(0 0 0 transparent);
    background: darken($color-leaf-green, 8%);
    font-weight: 300;
    color: white;
    display: block;
    min-width: 200px;
    margin: 25px auto 0 auto;
    padding: 15px;
    cursor: pointer;

    &:hover {
      background: darken($color-leaf-green, 10%);
    }
  }
}
